<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phone</title>
    <link rel="stylesheet" href="/static/phone/phone.css">
</head>
<body>
    <div class="phone">
        <div class="header">
          <h1>2004년 12월 21일</h1>
        </div>
        <hr />

        <div id="btnBox">
            <button id="rbclr" onclick="location.href='/rbclr'">규칙</button>
            <button id="mission" onclick="location.href='/mission'">미션</button>
            <button id="news" onclick="location.href='/generate_news'">뉴스</button>
            <button id="chat" onclick="location.href='/chatbot'">채팅</button>
        </div>

        <div class="exitBox">
            <hr />
            <button class="exit-button" onclick="location.href='/'"></button>
        </div>
    </div>
</body>
</html>