@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    font-family: 'Ownglyph_ParkDaHyun';
}

h1 {
    text-align: center;
    justify-content: center;
    color: white;
    margin: 0.75rem auto;
}

.phone {
    width: 16rem;
    height: 36rem;
    background-color: #101010;
    border: 5px solid #444444;
    border-radius: 30px;
    text-align: center;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

input:focus {
    outline: none;
}

#chatbox {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  /* 스크롤바 스타일 */
  #chatbox::-webkit-scrollbar {
    width: 0.5rem;
  }

  #chatbox::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
  }

  .message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
    word-wrap: break-word;
  }

  .user-message {
    align-self: flex-end;
    background-color: #444;
    color: white;
    text-align: right;
    font-size: 1.1rem;
  }

  .bot-message {
    align-self: flex-start;
    background-color: white;
    color: #444;
    text-align: left;
    font-size: 1.1rem;
  }

  #userMessage {
    width: 14rem;
    height: 2rem;
    padding-left: 1rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 15px;
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: 1.1rem;
  }

  button {
    width: 4rem;
    border: none;
    border-radius: 15px;
    background-color: #444;
    color: white;
    cursor: pointer;
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: 1.1rem;
  }

  .textBox {
    display: flex;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  hr {
    width: 16rem;
  }

  .header {
    display: flex;
  }

  .exit-button {
    border: none;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    margin: 0.75rem auto 0 auto;
  }